<% @portfolios.each do |portfolio| %>
  <tr>
    <td><%= portfolio.title %></td>
    <td><%= portfolio.text %></td>
    <td><%= portfolio.client %></td>
    <td><%= portfolio.published %></td>
    <td><%= portfolio.image %></td>
    <td><%= link_to 'Show', portfolio %></td>
    <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
    <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
